---
import {relativeDate } from '../js/utils.js'
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry, frontmatter: entry.data},
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const { title = 'The Distress Signal', tagline, description} = Astro.props.frontmatter || Astro.props;
---
<MainLayout title={title} tagline={tagline} description={description}>
  <div class="bg-white py-14 ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <!-- <p class="text-1xl md:text-2xl font-semibold leading-7 text-SignalPurp">The</p> -->
          <h1 transition:name="leade" transition:animate="fade" class="mt-2 text-6xl font-bold tracking-tight text-SignalBlack md:text-8xl">{entry.data.title}</h1>
        <p class="mt-6 text-lg leading-8 text-SignalBlack">Posted <time datetime="2020-03-16" class="text-SignalRed">{relativeDate(entry.data.pubDate)}</time> on <a class="featured" href="/">The Distress Signal</a> | <span class="text-SignalOrange"><a href={`/categories/${entry.data.category}`} class="plain">{entry.data.category}</a></span></p>
      </div>
      <div class="bg-white px-6 py-16 lg:px-8">
        <div class="mx-auto max-w-[42rem] text-base leading-7 text-gray-700">
          <!-- <h1 class="mt-2 text-3xl font-bold tracking-tight text-SignalBlack sm:text-4xl">{entry.data.title}</h1>
          <p class="text-base font-semibold leading-7 text-SignalOrange">{entry.data.category} | <time datetime="2020-03-16" class="text-gray-500">{relativeDate(entry.data.pubDate)}</time></p> -->
          <div class="mt-10 max-w-2xl prose text-SignalBlack">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
