---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from 'astro:content';
const allBooks = await getCollection('books');
const data = allBooks[0].data
function renderStars(stars: number): string {
  return '⭐ '.repeat(stars);
}
import { Image } from 'astro:assets'
import SubprimeAttentionCrisis from '@images/bookshelf/subprime-attention-crisis.jpg'
import NemesisGames from '@images/bookshelf/nemesis-games.jpg'
import ChildrenOfTime from '@images/bookshelf/children-of-time.jpg'
import ChildrenOfRuin from '@images/bookshelf/children-of-ruin.jpg'
import UndauntedCourage from '@images/bookshelf/undaunted-courage.jpg'
import Technopoly from '@images/bookshelf/technopoly.jpg'
import Babylon from '@images/bookshelf/babylons-ashes.jpg'
import PersepolisRising from '@images/bookshelf/persepolis-rising.jpg'
import TiamatsWrath from '@images/bookshelf/tiamats-wrath.jpg'
import MenAtArms from '@images/bookshelf/men-at-arms.jpg'
import Matter from '@images/bookshelf/matter.jpeg'

//map the imported images so that I can use them as the 'src' in the images when looping through the books
const bookCovers = {
  "Subprime Attention Crisis": SubprimeAttentionCrisis,
  "Nemesis Games": NemesisGames,
  "Children of Time": ChildrenOfTime,
  "Children of Ruin": ChildrenOfRuin,
  "Undaunted Courage": UndauntedCourage,
  "Technopoly": Technopoly,
  "Babylon's Ashes": Babylon,
  "Persepolis Rising": PersepolisRising,
  "Tiamat's Wrath": TiamatsWrath,
  "Met at Arms": MenAtArms,
  "Matter": Matter
}

---

<MainLayout title="Bookshelf">
  <div class="bg-white py-14">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <p class="text-2xl md:text-3xl font-semibold leading-7 text-SignalPurp">The</p>
        <h1 transition:name="leade" transition:animate="fade" class="mt-2 text-6xl font-bold tracking-tight text-SignalBlack md:text-8xl"> Bookshelf</h1>
        <p class="mt-6 text-lg leading-8 text-SignalBlack">What I've been reading this year. I'm typically a giant slacker when it comes to reading—spending too much time scrolling on crap and too little time reading things of real value. Part of the logic of seting up this page is to build some social obligation to read more. We'll see if that works, fingers crossed 🤞🏼.</p>
      </div>
      <!-- Looping through books -->
      <!-- 2025 BOOKS -->
      <div class="bg-white py-14">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <p class="text-2xl max-w-2xl mx-auto lg:max-w-none md:text-3xl font-semibold leading-7 text-SignalPurp text-right">2025</p>
          <ul class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          {data.filter(book => book.year === 2025).map(book => (
            <a href={book.link} target="_blank">
              <li class="relative p-4">
                <div class="">
                  <div class="overflow-hidden aspect-h-3 aspect-w-2">
                    <Image src={bookCovers[book. title]
                    } alt="Book Cover Art;" class="object-cover object-top" decoding="async" loading="lazy"
                    widths={[400, 600, 800, 900]} sizes={'(max-width: 600px) 800px,  (max-width: 1023px) 900px, (min-width: 1300px), 800px'}
                    />
                  </div>
                  <h2 class="mt-2 font-bold prose">{book.title}</h2>
                </div>
                <p class="">{renderStars(book.stars)}</p>
                <p class="block prose text-sm">{book.description}</p>
              </li>
            </a>
            ))}
            </ul>
        </div>
      </div>
      <!-- 2024 BOOKS -->
      <div class="bg-white py-14">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <p class="text-2xl max-w-2xl mx-auto lg:max-w-none md:text-3xl font-semibold leading-7 text-SignalPurp text-right">2024</p>
          <ul class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          {data.filter(book => book.year === 2024).map(book => (
            <a href={book.link} target="_blank">
              <li class="relative p-4">
                <div class="">
                  <div class="overflow-hidden aspect-h-3 aspect-w-2">
                    <Image src={bookCovers[book. title]
                    } alt="Book Cover Art;" class="object-cover object-top" decoding="async" loading="lazy"
                    widths={[400, 600, 800, 900]} sizes={'(max-width: 600px) 800px,  (max-width: 1023px) 900px, (min-width: 1300px), 800px'}
                    />
                  </div>
                  <h2 class="mt-2 font-bold prose">{book.title}</h2>
                </div>
                <p class="">{renderStars(book.stars)}</p>
                <p class="block prose text-sm">{book.description}</p>
              </li>
            </a>
            ))}
            </ul>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
