---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from 'astro:content';
const allBooks = await getCollection('books');
const data = allBooks[0].data
function renderStars(stars: number): string {
  return '⭐ '.repeat(stars);
}
// import { Image } from 'astro:assets'
---

<MainLayout title="Bookshelf">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 transition:name="leade" transition:animate="fade" class="mt-2 text-6xl font-bold tracking-tight text-SignalBlack md:text-8xl">The Bookshelf
        </h1>
    </div>
    <!-- Looping through books -->
    <div class="mt-8">
      <h2 class="text-lg mb-4 font-bold">2024</h2> 
      <p class="prose mb-8">What I've been reading this year. I'm typically a giant slacker when it comes to reading—spending too much time scrolling on crap and too little time reading things of real value. Part of the logic of seting up this page is to build some social obligation to read more. We'll see if that works, fingers crossed 🤞🏼.</p>
      <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        {data.map(book => (
        <a href={book.link} target="_blank">
          <li class="relative">
            <div class="">
              <div class="overflow-hidden aspect-h-1 aspect-w-1">
              <!-- @todo download the images to use in src and drop in the Astro image component here. Should I use Figure? -->
                <img src={book.image} alt="Book Cover Art;" class="object-cover w-full h-full object-top">
              </div>
              <h2 class="mt-2 font-bold prose">{book.title}</h2>
            </div>
            <p class="">{renderStars(book.stars)}</p>
            <p class="block prose">{book.description}</p>
          </li>
        </a>
        ))}
      </ul>
    </div>
  </div>
</MainLayout>
