---
// Fetch the images
let images = [
  '/images/keyboards/bauerbrass.jpg',
  '/images/keyboards/arc60.jpg',
  '/images/keyboards/qk60.jpg',
  '/images/keyboards/qk602.jpg',
  '/images/keyboards/hhkb.jpg',
  '/images/keyboards/solarized.jpg',
  '/images/keyboards/niu.jpg',
  '/images/keyboards/merridian.jpg',
  '/images/keyboards/rgbcorne.jpg',
  '/images/keyboards/arc602.jpg',
  '/images/keyboards/imk.jpg',
  '/images/keyboards/valhalla.jpg',
  '/images/keyboards/tvk.jpg',
  '/images/keyboards/cornes.jpg',
  '/images/keyboards/sutra.jpg'
];
---

<div class="gallery">
  {images.map(image => (
    <a data-no-swup data-fslightbox href={image} aria-label="Click for Lightbox">
      <img src={image} />
    </a>
  ))}
</div>

<script type="module">
  import '/js/fslightbox.js';
  refreshFsLightbox();
</script>

<script is:inline type="module">
  import '/js/fslightbox.js';
  const images = document.querySelectorAll('.gallery img');
  
  // Lightbox function
  images.forEach(function (image) {
    var wrapper = document.createElement('a');
    wrapper.setAttribute('data-no-swup', '');
    wrapper.setAttribute('data-fslightbox', '');
    wrapper.setAttribute('href', image.src);
    wrapper.setAttribute('aria-label', 'Click for Lightbox');
    image.parentNode.insertBefore(wrapper, image.parentNode.firstChild);
    wrapper.appendChild(image);
  });
  
  refreshFsLightbox();
</script>

<div class="grid gap-4 gallery mb-8">
  <h3>A few of my previous boards:</h3>
      <div>
          <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={bauerbrass} alt="" />
      </div>
      <div class="grid grid-cols-5 gap-4">
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={arc60} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={qk60} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={qk602} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={hhkb} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={solarized} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={niu} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={merridian} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={rgbcorne} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={arc602} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={imk} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={valhalla} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={tvk} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={cornes} alt="" />
          </div>
          <div class="flex items-center overflow-hidden">
              <Image class="mt-0 mb-0 max-h-full w-auto rounded-lg" src={sutra} alt="" />
          </div>
      </div>
  </div>