---
const { title, tagline, description } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
import '../global.css';
---
<head>
  <ViewTransitions />
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS Feed">
  <meta name="fediverse:creator" content="@zero_gravitas@indieweb.social">
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={`A personal hypertext of Bryan Schuetz. | ${title}`} />
  <meta name="keywords" content="">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@Z3r0_Gravitas" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:creator" content="@Z3r0_Gravitas" />
  <meta name="twitter:description" content={description} />
  <meta property="twitter:image" content={`https://signal-og-images.vercel.app/api/param?title=${tagline ? tagline : title}`} />
  <meta property="twitter:image:alt" content={tagline} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content="" />
  <meta property="og:image" content={`https://signal-og-images.vercel.app/api/param?title=${tagline ? tagline : title}`} />
  <title>{title}</title>
</head>
